{% extends 'base.html.twig' %}

{% block title %}Definition{% endblock %}

{% block body %}
    <h1>Definition</h1>
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ definition.nom }}</td>
                </tr>
                <tr>
                    <th>Language</th>
                    <td>{{ definition.language }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ definition.content }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="{{ path('definition_index') }}">Retour à la page précédente</a>

    <a href="{{ path('definition_edit', {'id': definition.id}) }}">Editer</a>

    {{ include('definition/_delete_form.html.twig') }}
{% endblock %}
